body{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: #303030
  margin:0;
  padding: 0;
}

body:last-child{
margin top: 30px;
}

/*clases Reutilizables*/
.text-uppercase{
  text-transform: uppercase;
}

.box-header{
  display: inline-block;
}

.logo-header{
  width: 200px;
}

li {
  display: inline;
  list-style: none;
}

li a{
  color: inherit;
  text-decoration: none;
}

header{
  position: relative;
  margin-top: 30px;
}

nav{
  position: absolute;
  right: 5%;
  top: 50%
  transform: translateY(-50%);
}

section{
  text-align: center;
}

div{
  display: inline-block;
  width: 33%;
}

span{
  font-size: 60px;
}

body section{
  margin: 30px 50px 0px;
}

img[alt="laboratoria"]{
  width: 75px;
}

button{
  background-color:#f9a91a;
  color: white;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  font-weight: 600px;
}

.box-header ul li{
  margin: 0px 15px;
}

span:hover, .box-header ul li:hover{
  color: #f9a91a;
}
